html {
  position: relative;
  min-height: 100%; }
  html body {
    height: 100%;
    /* Margin bottom by footer height */
    margin-bottom: 60px; }
    html body .container #main-header {
      margin-bottom: 3%; }
    html body .container #startup-idea {
      margin-bottom: 3%; }
    html body .container #button-area {
      margin-bottom: 3%; }
    html body .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important; }

@media screen and (max-width: 750px) {
  iframe {
    display: none; } }
