
<div class="row">
	<div class="col-xs-4" style="padding: 0">
		<iframe src="http://www.instant-gaming.com/affgames/igr1273379/250x250" scrolling="no" frameborder="0" style="border: 1px solid #ccc; 
		border-radius: 5px; overflow:hidden; width:250px; height:250px;" allowTransparency="true"></iframe>
	</div>
	<div class="col-xs-4 text-center">
		<img src="./dist/img/gauge.png" class="img-responsive center-block" />	
		<button href="#" class="btn btn-primary pull-right" ng-bind="change_button_text" ng-click="changeLanguage(language)"></button>
	</div>
</div>

<div id="main-header" class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h1 class="text-center"><u ng-bind="title_text"></u></h1>
	</div>
</div>

<div id="startup-idea" class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<h1 class="text-center">"{{startupIdea}}"</h1>
	</div>
</div>

<div id="button-area" class="row">
	<div class="col-xs-8 col-xs-offset-2 text-center">
		<button href="#" class="btn btn-lg btn-primary" ng-click="createStartupIdea(language)" ng-bind="pitch_button_text">Pitch Me!</button>
		<p>(or press any key)</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2 text-center">
		<div fb-like></div><div google-plus></div>
	</div>
</div>
