html {
	position: relative;
  	min-height: 100%;
  	body {
		height: 100%;
		.container{
			#main-header{
				margin-bottom: 3%;
			}
			#startup-idea{
				margin-bottom: 3%;
			}
			#button-area{
				margin-bottom: 3%;
			}
		}
  		/* Margin bottom by footer height */
  		margin-bottom: 60px;
  		.footer {
  			position: absolute;
  			bottom: 0;
  			width: 100%;
  			/* Set the fixed height of the footer here */
  			height: 60px;
		}
	}
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
}

@media screen and (max-width: 750px) {
	iframe{
		display: none;
	}
}
